
.container { 
            width: 80%;
            margin: auto;}

.img { 
        width: 100%;}


.div-p { 
        border-bottom: solid 0.1rem lightgrey;
        margin-bottom: 1rem;
}
.div-text { 
        margin-bottom: 3rem;}

.find-us { 
        display: flex;}

.div-p p { 
        margin-top: 2rem;}

@media screen and (min-width: 451px) {
    .u-md-innercontainer { 
                    display: flex;
                    justify-content: space-between;
    }
    .div-img,
    .div-text { 
                width: calc((100% / 2) - 1rem);}
}

@media screen and (min-width: 901px) {}

@media screen and (min-width: 1800px) {
    .p-sm.p-lg { 
            font-size: 1.2rem;
            margin: 1rem 0rem 2rem 0rem;}

    h4 { 
        font-size: 1.5rem;
        margin-top: 0rem;}

    .img { 
        height: 38rem;}

    
        
}