.container { 
    width: 80%;
    margin: auto;}

.img { 
width: 100%;}

.div-p { 
    display: flex;
    flex-direction: column;
}

.contact::placeholder {
        color: black;
}

/*.div-text { 
    margin-bottom: 3rem;} */


@media screen and (min-width: 451px) {
        .u-md-innercontainer { 
                        display: flex;
                        justify-content: space-between;
        }
        .div-img,
        .div-text { 
                    width: calc((100% / 2) - 1rem);}
        
    }
    
@media screen and (min-width: 901px) {}
    
