.button-order {
    background-color: cornflowerblue;
    color: white;
    padding: 1rem;
    width: 9rem;
}

.u-sm-Header {
         border-bottom: none;
         margin-bottom: 0rem;
}
.container {
    height: 100%;
    margin: auto;

}

.banner {
    background-image: url(../images/banner-bg.jpg);
    padding: 4.5rem 0rem;
    /* background-size: 100% 100%; */
    /* height: 50%; */
    background-position: center;
    margin-bottom: 3rem;
    height: 34rem;
    background-repeat: no-repeat;
}

.ecommerce {
    background-color: white;
    opacity: 0.9;
    padding: 1rem 2rem;
    height: 21rem;
    width: 25rem;
}

.featured-items-div {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.featured-items {
    padding: 1rem;
    border: solid 0.1rem lightgrey;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.u-md-featured-items,
.u-lg-featured-items {
    display: none;
}

.jeans-pic {
    width: 100%;}

.description,
.price {
    margin: 0rem;
    font-weight: bold;
    font-size: 0.7rem;
}

.description {
    color: black;
}
.price {
    color: cornflowerblue;
}

.u-sm-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.u-md-carousel {
    display: none;
}

.banner-md {
    width: 90%;
    margin: auto;
}

.u-lg-carousel {
    display: none
}

@media screen and (min-width: 451px) {
    .u-md-Header {
        border-bottom: none;
        margin-bottom: 0rem;
}

    .u-md-featured-items {
        display: block;
    }

    .u-lg-featured-items {
        display: none;
    }

    .flex-md-lg {
        display: flex;
        justify-content: space-between;
    }

    .featured-items {
        width: calc((100% / 2) - 0.5rem);
        padding: 0.8rem 0.8rem 0.5rem 0.8rem;
    }

    .u-sm-carousel {
        display: none
    }

    .u-md-carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

     .banner-md {
        width: 80%;
        /* margin: 0rem 1.6rem; */
    }


}

@media screen and (min-width: 901px) {

    .u-lg-featured-items {
        display: block;
    }

    .featured-items {
        width: calc((100% / 4) - 0.7rem);
    }

    .u-md-carousel {
        display: none
    }
    
    .u-lg-carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        background-size: cover;
        height: 38rem;
    }

}


}