html { 
        height: 100%;}

* { box-sizing: border-box;}


body { 
    color: gray;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

.u-sm-Header { 
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                margin-bottom: 3rem;
                border-bottom: solid 0.1rem lightgrey;
        }

.sm-stripe-blue { 
        background-color: cornflowerblue;
        height: 0.2rem;
        width: 1.5rem;
        }

.lg-nav { 
        display: none;}

.sm-nav { 
        width: 3rem;
        height: 3rem;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
}

.Header-hamburgerBar { 
        background-color: white;
        height: 0.2rem;
        width: 30%;
        margin-bottom: 0.2rem;
        border-radius: 0.1rem;
}

.pixie-logo { 
        align-self: center;
        height: 1.5rem;}

.u-sm-subscribe { 
        background-color: cornflowerblue;
        color: white;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
        width: 100%;
}
.u-md-subscribe-buttons { 
        width: 100%;}

.sm-stripe-white { 
        background-color: white;
        height: 0.2rem;
        width: 1.5rem;
}

.email { 
        background-color: cornflowerblue;
        color: white;
        border: solid 0.05rem white;
        border-radius: 0.3rem;
        width: 100%;
        padding: 1rem 1rem;
        margin-bottom: 1rem;}

::placeholder { 
        color: white;}

.button { 
        text-decoration: none;
        background-color: white;
        color: cornflowerblue;
        margin-bottom: 3rem;
        display: block;
        width: 100%;
        padding: 1rem 0rem;
        border-radius: 0.3rem;
}


.nav-footer a { 
                text-decoration: none;
                color: lightgray;
                font-size: 0.7rem;
                padding: 0rem 1rem;
            }

.nav-footer { display: flex;
                flex-wrap: wrap;
                justify-content: center;
                line-height: 1.5rem;
                margin: 2rem 0rem;}

.img-footer { 
        height: 2rem;}

.u-sm-Footer{ 
        margin-bottom: 3rem;}

.footer { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;}

.text-blue { 
        color: cornflowerblue;}

.p-sm { 
        font-size: 0.9rem;}

h3, h4 { 
        color: black;}

.h3-subscribe-footer {
        color: white;
}


@media screen and (min-width: 451px) {
        .lg-nav { 
                display: none;}

        .u-sm-Header { 
                width: 80%;
                margin: auto;
                border-bottom: none;
                display: flex;
                justify-content: space-between;
        }
        .u-md-Header { 
                margin-bottom: 3rem;
                border-bottom: solid 0.1rem lightgrey;
        }
        .u-md-subscribe-buttons {
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 2fr 1fr;
                grid-template-areas:
                'email email button';
                grid-gap: 1.5rem;
        }
        .u-md-email { 
                grid-area: email;
        }

        .u-md-button { grid-area: button;
        }
        .button { 
                padding: 1rem 1rem;
                line-height: 1rem;}

        .u-sm-subscribe { 
                width: 451px;
                margin: auto;}

        .u-md-blue { background-color: cornflowerblue;
                    margin-bottom: 3rem;}
}

@media screen and (min-width: 901px) {
            .sm-nav { 
                    display: none;}

            .lg-nav a { 
                        text-decoration: none;
                        padding: 0.5rem 1rem;
                        color: black;
                        font-weight: bold;
                        font-size: 0.9rem;}

            .lg-nav { display: flex;
                     justify-content: center;
                     border-top: solid 0.1rem lightgrey;}
            .u-sm-Header { display: flex;
                          justify-content: center;
                          }


            .u-md-Header { 
                        display: flex;
                        flex-direction: column;}

            a:hover { color: cornflowerblue;}
}

@media screen and (min-width: 1800px) {

        .u-sm-subscribe { 
                width: 720px;
                margin: auto;}
}